@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div style="background-image: url('images/background1.jpeg')">
    <div class="container">
        <main role="main" class="pb-3">
            <div class="jumbotron">
                <div class="text-center">
                    <div class="row">
                        <div class="column">
                            <p>
                                I am currently working as an Undergraduate Research Associate at K-State, primarily cleansing/restucturing data and building data models. My background in programming/quantitative analysis made me a good fit for the role.
                            </p>
                            <p>
                                I enjoy writing algorithms that perform large mundane tasks that I otherwise would have had to do manually. I am constantly trying to learn new skills that I can use to further automate these tasks.
                            </p>
                            <p>
                                My adaptive work-style allowed me to quickly learn multiple new programming languages when I interned as an IT Developer at Textron Aviation. This allowed me to build a strong foundation for an engineering tool on a short time-line.
                            </p>
                            <p>
                                I am searching for a full-time Data Scientist position to begin upon graduation, preferably in the Kansas City area.
                            </p>
                        </div>
                        <div class="column" style="text-align:right;">
                            <img src="~/images/Head_shot.JPG" style="width:250px;float:right;" />
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
