@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center" style="background-image: url('images/background1.jpeg'); padding:5%;">
    <div class="container" style="height: auto; padding-bottom: 2vh;">
        <div class="jumbotron">
            <div class="text-center">
                <h1>Contact Me</h1>
            </div>
            <br />
            <h6>Phone: (913) 206-5702</h6>
            <h6>School Email: dlpandjaris@ksu.edu</h6>
            <h6>Personal Email: dlpandjaris@gmail.com</h6>
            <h6>Github: <a href="https://github.com/dlpandjaris">https://github.com/dlpandjaris</a></h6>
            <h6>Linkedin: <a href="https://www.linkedin.com/in/dylan-pandjaris-820885150">https://www.linkedin.com/in/dylan-pandjaris-820885150</a></h6>
        </div>
    </div>
        
</div>
