@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center" style="background-image: url('images/background1.jpeg');">
    <div class="container">
        <main role="main" class="pb-3" style="padding-top:5%;padding-bottom:5%;">
            <div class="jumbotron">
                <div class="text-center">
                    <h1>My Projects</h1>
                    <p>Note: Unfortunately I cannot include projects related to work due to non-disclosure agreements.</p>
                    <br/>
                </div>
                <div class="text-left">
                    <ul style="list-style-type:none; padding-left:0px;">
                        <li>
                            <h4>INVESTMENT PORTFOLIO MANAGER / <i>Python, SQL</i></h4>
                            <h6>September 2019 - Present</h6>
                            <ul style="list-style-type:none;">
                                <li style="list-style-type:square">
                                    <p>
                                        Uses a linear regression model with SKLearn to predict the change of the following day
                                    </p>
                                </li>
                                <li style="list-style-type:square">
                                    <p>
                                        Checks Yahoo Finance daily to gather data and adds it to Excel using Selenium
                                    </p>
                                </li>
                                <li style="list-style-type:square">
                                    <p>
                                        Stores transaction data in SQL Server Data Table
                                    </p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <a href="https://github.com/dlpandjaris/Investor">
                        <button class="btn btn-info">Visit Github Repository</button>
                    </a>
                </div>
            </div>
        </main>
    </div>
</div>

