@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center" style="background-image: url('images/background1.jpeg');">
    <h3 style="color:white;padding-top:2%;">My Projects</h3>
    <p style="color:white;">Note: Unfortunately I cannot include projects related to work due to non-disclosure agreements.</p>
</div>

